body{
    font-family: sans-serif;
}

:root {
    --primary-color: #003aa5;
}

#frmSendMail input {
    outline: none;
    color: var(--primary-color);
}

.text-label {
    color: rgba(128, 128, 128, 0.658);
}

.text-blue {
    color: var(--primary-color);
}

.bg-blue {
    background-color: var(--primary-color);
}